body, html {
    height: 100%;
}

body {
    font-family: 'Noto Sans SC', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}

strong {
    font-weight: bold;
}

.bg {
    /* The image used */
    background-image: url("https://cdn.thegentlemansjournal.com/wp-content/uploads/2016/08/SteveJobs-gentlemansjournal-900x600-c-center.jpg");

    height: 50%; 
    opacity: 0.65;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
}

h1 {
    margin: 0px;
}

h3 {
    font-size: 25px;
}

ul {
    margin: 10px;
}

li {
    margin-top: 5px;
}

#main {
    margin: 10px;
}

footer {
    width: 100%;
    padding-top: 10px;
    height: 50px;
    font-size: 13px;
    text-align: center;
}

@media (max-width: 1221px) {
    body {
        font-size: 13px;
    }
    .caption span.border {
        background-color: #111;
        color: #fff;
        padding: 18px;
        font-size: 13px;
        letter-spacing: 5px;
    }
}

@media (max-width: 850px) {
    .caption span.border {
        background-color: #111;
        color: #fff;
        padding: 10px;
        font-size: 8px;
        letter-spacing: 3px;
    }
}