body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 32px;
  font-weight: 400;
}

div {
  display: block;
}

button {
  font-size: 14px;
  font-weight: 500;

  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
}

table {
  width: 100%;
}

th,
td {
  padding: 0 10px;
  justify-self: center;
}

.row-select {
  text-align: center;
  vertical-align: middle;
}

.row-details {
  background-color: #f8f9fa;
}

.content {
  margin: auto;
  max-width: 90vw;
  width: 640px;
}

.container {
  margin-top: 12px;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  padding-top: 22px;
  position: relative;
}

.form-group {
  transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1);
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  page-break-inside: avoid;
  word-wrap: break-word;
}

.form-questions {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
}

.form-control {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: transparent;
  border: none;
  display: block;
  min-height: 24px;
  line-height: 24px;
  resize: none;
  white-space: pre-wrap;
  z-index: 0;
  overflow-y: visible;
  overflow-x: hidden;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.submit-button {
  letter-spacing: 0.25px;
  text-decoration: none;
  text-transform: none;
  min-width: auto;
  padding: 0 24px;
  line-height: 36px;
  color: rgb(29, 135, 87);
  /* background-color: rgb(29, 135, 87); */
  width: 100%;
  transition: cubic-bezier(0, 0, 0.2, 1);
}

.input-radio {
  display: inline-block;
  margin-right: 0.625rem;
  min-width: 1.25rem;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.clue {
  font-size: 12px;
  color: #615757;
}

#description {
  font-size: 12px;
}

#footer {
  margin: 24px 0;
}
